body{
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Verdana, sans-serif;
}
.mainContainer{
    background-color: white;
    border:0;
    box-shadow: 0px 0px 9px grey ;
    border-radius: 10px;
    min-width: 25vw;
    padding: 12px;
}
h1{
    text-align: center;
}

ul li{
    background-color: #e5f1e5;
    margin: 10px;
    padding: 10px;
    list-style: none;
    border-radius: 10px;
}
.todo-list{
    padding: 0;
}
.sub-item li{
    list-style: square;
    width: max-content;
}
.sub-item li::marker{
    color: black;
}
.sub-item-link{
    text-decoration: none;
    color: blue;
}
.sub-item-link:visited{
    color:brown;
}
.sub-item-link:hover{
    color:cornflowerblue;
}
.sub-item-link:active{
    color:coral;
}
.sub-item-link:focus{
    outline:solid red;
}
/* a:active{
    outline:solid red;
} */